<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        .demotable {
        border-collapse: collapse;
        counter-reset: schetchik;
        margin: auto;
        }
        .demotable tr {
        counter-increment: schetchik;
        }
        .demotable td,
        .demotable tr:before {
        padding: .1em .5em;
        border: 1px solid #E7D5C0;
        }
        .demotable tr:before {
        content: counter(schetchik);
        display: table-cell;
        vertical-align: middle;
        color: #978777;
        }
  </style>
</head>
<body>
<h1 align="center">Користувачі боту</h1>
    <table class="demotable">
        {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.gender }}</td>
                </tr>
        {% endfor %}
    </table>
</body>
</html>